<div class="chat-header">
  <div class="header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>
  <div class="header-button">
    <%= link_to "投稿する", new_room_word_path %>
  </div>
</div>

<div class="words">
  <%= render partial: 'word', collection: @words %>
</div>