<div class="word">
  <div class="upper-word">
    <div class="word-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= word.user.name %>
    </div>
  </div>
  <div class="lower-word">
    <div class="word-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= word.content %>
    </div>
    <%= image_tag word.image.variant(resize: '500x500'), class: 'word-image' if word.image.attached? %>
  </div>
</div>