<div class="word">
  <div class="upper-word">
    <div class="word-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= word.user.name %>
    </div>
    <div class= "more">
      <!-- 投稿した内容を修正する -->
      <ul class="more_list">
        <li>
          <%= link_to '詳細', room_word_path(room_id: word.room.id, id: word.id) %>
        </li>
      </ul>
    </div>
  </div>

  <div class="lower-word">
    <div class="word-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= word.content %>
    </div>
    <%= image_tag word.image.variant(resize: '500x500'), class: 'word-image' if word.image.attached? %>
  </div>
</div>